<h2>Lista de Eventos</h2>
<div class="page-size">
<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de Início</th>
        <th>Data de Encerramento</th>
        <th>Valor</th>
        <th>Online</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Meu Evento</td>
        <td>12/12/2017</td>
        <td>13/12/2017</td>
        <td>R$ 450,00</td>
        <td>Online</td>
        <td>
          <a title="Detalhes" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Saber Mais
          </a>
        </td>
      </tr>
      <tr>
        <td>DevXperience</td>
        <td>01/09/2017</td>
        <td>02/09/2017</td>
        <td>R$ 500,00</td>
        <td>São Paulo</td>
        <td>
          <a title="Detalhes" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Saber Mais
          </a>
        </td>
      </tr>      
    </tbody>
  </table>
</div>
</div>